<h1>Welcome to the Image Sharer!</h1>

<div class="row">
  <% @images.each do |image| %>
    <div class="col-sm-12 col-md-6 col-lg-4 js-image-container image-container">
      <div class="image-card">
        <h4 class="js-image-name"><%= image.name %></h4>
        <%= image_tag image.url %>
        <p><%= image.description %></p>
      </div>
      <h6>Tags:</h6>
      <% unless image.tags.empty? %>
        <li>
          <% image.tags.each do |tag| %>
            <ul class="js-tag"><%= tag.name %></ul>
          <% end %>
        </li>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to "Add Image", new_image_path %>
<%= link_to "See all Images", images_path %>

